.libraryCard {
    padding-right: .75rem;
    margin-bottom: 1rem;
    height: 90%;
    width: 70%;
    border-radius: 5px;
    color: #6A6B7A;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}


.yourLibrary {
    text-decoration: none;
    color: #93A1A1;
    cursor: pointer; 
} 