.notificationsCard {
    margin-right: 0.75rem;
    margin-top: 0.75rem;
    padding-right: .75rem;
    margin-bottom: 1rem;
    height: 90%;
    width: 70%;
    border-radius: 5px;
    box-shadow: -12px -12px 30px #ffffff, inset 12px 12px 30px #c8c8c8;
    color: #6A6B7A;
    padding: 0.8rem 1.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}