.header {
    background-color: rgb(7, 54, 66);
    color: white;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 1.5rem;
}

.lightDarkToggle {
    padding-left: 20px;
}

.link {
    color: white;
    padding: 10px;
}

.link:hover {
    color: rgb(0, 162, 255);
}

.navbar-title {
    color: white;
}

@media screen and (max-device-width: 600px) {
    .header-nav {
        font-size: .8rem;
    }

    .link {
        padding: 4px;
    }

    .navbar-title {
        font-size: 1rem;
    }

    .user-profile {
        border-radius: 50%;
        height: 40px;
        margin-left: 5px;
        margin-right: 15px;
        width: 40px;
    }
}

@media screen and (min-device-width: 601px) {
    .header-nav {
        font-size: 1.1rem;
    }

    .navbar-title {
        font-size: 1.5rem;
    }

    .user-profile {
        border-radius: 50%;
        height: 50px;
        margin-left: 5px;
        margin-right: 15px;
        width: 50px;
    }
}

@media screen and (min-device-width: 800px) {
    .header-nav {
        font-size: 1.5rem;
    }

    .navbar-title {
        font-size: 2rem;
    }
    
    .user-profile {
        border-radius: 50%;
        height: 60px;
        margin-left: 5px;
        margin-right: 15px;
        width: 60px;
    }
}