a {
    color:rgb(147, 161, 161);
}

a:hover {
    color: rgb(211, 54, 130);
}

a:link {
    text-decoration: none;
}

.lightDarkToggle {
    padding-left: 20px;
}

.link {
    color: rgb(147, 161, 161);
    padding: 10px;
    font-size: 1.1rem;
}

.link:hover {
    color: rgb(211, 54, 130);
}

.menu-link {
    color: rgb(33, 33, 33);
}